<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그 저장 경로 -->
    <property name="LOG_PATH" value="./log"/>

    <!-- 콘솔 로그 출력 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 날짜별 파일 로그 (압축 없음) -->
    <appender name="DailyRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 날짜별 파일명: batch.2025-07-17.0.log -->
            <fileNamePattern>${LOG_PATH}/batch.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize> <!-- 하루에 50MB 넘으면 .1, .2 등으로 나뉨 -->
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>21</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 출력 대상 지정 -->
    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="DailyRollingFile"/>
    </root>

</configuration>
