<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>빈자리 알림</title>
</head>
<body>
<table width="590" style="margin: 0 auto; text-align: center; font-family: Pretendard, Arial, sans-serif; line-height: 1.5;">
  <tr>
    <td>
      <h2 style="margin-top: 50px; font-size: 22px;">[빈자리알림이] 등록하신 버스에 빈자리가 생겼어요!</h2>

      <p style="font-size: 18px; margin-top: 30px;">
        <span th:text="${departureDtm}">[departureDtm]</span> 출발
      </p>

      <p style="font-size: 18px;">
        <span th:text="${routeName}">[routeName]</span> 노선
      </p>

      <p style="font-size: 18px;">
        <span th:text="${numberOfSeat}">[numberOfSeat</span>자리의 빈자리가 확인되었습니다.
      </p>

      <p style="margin-top: 30px; font-size: 16px; color: #666;">
        빠르게 예매를 진행해보세요!
      </p>

      <p style="font-size: 14px; color: #999; margin-top: 40px;">
        본 메일은 시스템에 의해 자동으로 발송되었습니다.<br>
        문의: <a href="mailto:team.dododok@gmail.com">team.dododok@gmail.com</a>
      </p>
    </td>
  </tr>
</table>
</body>
</html>
